<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Today's Apointments
            <button type="submit" ng-click="create()" class="btn btn-primary pull-right">Create</button>
            <!-- <small>It's Nice to Meet You!</small> -->
        </h1>
        <!-- <p>Here is all the Appointments for today.</p> -->
        See more <b>Apointments</b>&nbsp;&nbsp;=>&nbsp;&nbsp;
        <a href="" ng-click="fetchAppointments('Today');">Today's</a>&nbsp;<=>&nbsp;
        <a href="" ng-click="fetchAppointments('Yesterday');">Yesterday's</a>&nbsp;<=>&nbsp;
        <a href="" ng-click="fetchAppointments('Last Week');">Last Week</a>&nbsp;<=>&nbsp;
        <a href="" ng-click="fetchAppointments('Last Month');">Last Month</a>&nbsp;<=>&nbsp;
        <a href="" ng-click="fetchAppointments('Last Year');">Last Year</a>&nbsp;<=>&nbsp;
        <a href="" ng-click="fetchAppointments('All');">All</a>
    </div>
</div>
Set Items per Page : <input type="text" ng-model="itemsPerPage" size="5">
<div ng-show="totalAppointments.length > itemsPerPage">
    <uib-pagination 
        total-items="totalAppointments.length" 
        items-per-page="itemsPerPage || 5" 
        ng-model="currentPage" 
        class="pagination-sm" 
        boundary-links="true" 
        ng-change="pageChanged()">
    </uib-pagination>
</div>

<div class="row">
    <div class="col-lg-12">
        
    </div>
    <div class="col-lg-3 col-sm-6 text-center" ng-repeat="appointment in appointments track by $index">
        <h3>{{appointment.patient_name}}</h3>
        <p>{{appointment.age}}</p>
        <p>{{appointment.date_time}}</p>
        <button class="btn btn-primary" type="button" ng-click="createPrescription($index)">Prescription</button>
        <button class="btn btn-primary" type="button" ng-click="editAppointment($index)">Edit</button>
        <button class="btn btn-warning" type="button" ng-click="deleteAppointment($index)">Delete</button>
    </div>

</div>

<div ng-show="totalAppointments.length > itemsPerPage">
    <uib-pagination 
        total-items="totalAppointments.length" 
        items-per-page="itemsPerPage || 5" 
        ng-model="currentPage" 
        class="pagination-sm" 
        boundary-links="true" 
        ng-change="pageChanged()">
    </uib-pagination>
</div>
