<!-- Navigation -->
<nav 
    class="navbar navbar-inverse navbar-fixed-top" 
    role="navigation"
    ng-show="vm.user.name"
    ng-click="vm.showscope($event)">
    <div class="container">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-repeat="link in vm.links">
                    <a href="#" ng-click="vm.redirect(link.link)">link.name</a>
                </li>
                <li>
                    <a class="link" ng-click="vm.logout()" class="pull-right">Logout</a>
                </li>
                <li>
                    <a>Welcome! <span ng-bind="vm.user.name"></span></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
