<div class="row">
    <div class="col-md-12">
        <div class="well well-sm">
            <form 
                class="form-horizontal" 
                method="post"
                ng-submit="createContactUs()"
                novalidate="novalidate">
                <fieldset>
                    <legend class="text-center header">Contact us</legend>
                    
                    <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                        <div class="col-md-8">
                            <input 
                                name="name" 
                                type="text" 
                                ng-model="data.name" 
                                placeholder="Full Name" 
                                class="form-control" required
                                />
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                        <div class="col-md-8">
                            <input 
                                name="email" 
                                type="text" 
                                ng-model="data.email"
                                ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
                                placeholder="Email Address" 
                                class="form-control"
                                />
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                        <div class="col-md-8">
                            <input 
                                name="mobile" 
                                type="text" 
                                ng-model="data.mobile" 
                                placeholder="Mobile"
                                ng-pattern="/^[789]\d{9}$/"
                                class="form-control"
                                />
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                        <div class="col-md-8">
                            <textarea 
                                class="form-control" 
                                name="message" 
                                ng-model="data.message" 
                                placeholder="Enter your massage for us here. We will get back to you within 2 business days." 
                                rows="7" 
                                required>
                            </textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
