<div class="text-center">
    <h3 ng-bind="vm.data.patient_name"></h3>
    <p ng-bind="vm.data.age"></p>
    <p ng-if="!vm.data.gender">Male</p>
    <p ng-if="vm.data.gender">Female</p>
    <p ng-bind="vm.data.fee"></p>
    <p ng-bind="vm.data.chief_complain"></p>
    <p ng-bind="vm.data.medical_history"></p>
    <p ng-bind="vm.data.diagnosis"></p>
    <p ng-bind="vm.data.recommendation"></p>
    <p ng-bind="vm.data.medicines"></p>
    <p ng-bind="vm.data.date_time"></p>
    <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
</div>